<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CMS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/basic_template.css') }}">
</head>
<body>
  <header><h1>Content Management System</h1></header>
  <main>
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="flash" >
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <br/>

    <div>
    {% block content %}{% endblock %}
    </div>
  </main>
  <footer>
    {% if session.username %}
    Logged in as admin | <a href="{{ url_for('signout') }}">Sign Out</a>
    {% else %}
    <a href="{{ url_for('signin') }}">Sign In</a>
    {% endif %}
  </footer>
</body>
</html>